<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>noticia</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Pagina de administracion de noticias</h2><br>
        <a align="center" href="http://localhost:8080/noticia/registrar">crear a Noticia</a>
        <br>
        <a align="center" href="http://localhost:8080/noticia/listar">ir a Lista de Noticia</a>
        <br>
        <a align="center" href="http://localhost:8080/seguridad/logout">Salir</a>
           
    </body>
</html>
